# dependencies
/node_modules

# build artifacts
/build
/dist
/out
.cache
.parcel-cache

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
log/
logs/

# OS and editor files
.DS_Store
.idea/
.vscode/
*.suo
*.user
*.cas
*.ilk
*.pyc
*.swp
